<div class="product-item-2 swiper-container">
  <div class="swiper-wrapper h-100">
    @for (product of product; track $index) {
    <div class="swiper-slide">
      <mat-card class="flex flex-col">
        @if (!contentLoaded) {
        <ngx-skeleton-loader count="1"
          [theme]="{ width: '180px', 'border-radius': '0', height: '180px' }"></ngx-skeleton-loader>
        }

        @if (contentLoaded) {
        <div class="product-img">
          <a class="product-link" [routerLink]="['/home/product', product.id]">
            <img [src]="product?.pictures?.[0]?.big" alt="">
          </a>
          <div class="icons flex flex-col">
            <a (click)="addToWishlist(product)" class="hvr-icon-pulse-shrink"><mat-icon
                class="hvr-icon mat-icon-lg mat-icon material-icons mr-10">favorite_border</mat-icon></a>
            <a (click)="openProductDialog(product)" class="hvr-icon-pulse-shrink"><mat-icon
                class="hvr-icon">remove_red_eye</mat-icon></a>
            <a (click)="addToCompare(product)" class="hvr-icon-pulse-shrink"><mat-icon
                class="hvr-icon">cached</mat-icon></a>
          </div>
        </div>
        }

        <div class="product-info-wrapper">
          @if (!contentLoaded) {
          <ngx-skeleton-loader count="2" [theme]="{ 'border-radius': '0', height: '20px' }"></ngx-skeleton-loader>
          }

          @if (contentLoaded) {
          <span class="category">{{product.category}}</span>
          <div class="title-wrap">
            <h4>{{product.name}}</h4>
          </div>
          <div class="stars">
            <mat-icon class="mat-icon-xs mat-icon material-icons ng-star-inserted">star_rate</mat-icon>
            <mat-icon class="mat-icon-xs mat-icon material-icons ng-star-inserted">star_rate</mat-icon>
            <mat-icon class="mat-icon-xs mat-icon material-icons ng-star-inserted">star_rate</mat-icon>
            <mat-icon class="mat-icon-xs mat-icon material-icons ng-star-inserted">star_rate</mat-icon>
            <mat-icon class="mat-icon-xs mat-icon material-icons ng-star-inserted">star_rate</mat-icon>
          </div>
          <div class="price-wrap flex flex-row justify-between items-center">
            <p>${{product.price | number : '1.2-2'}}</p>
            <a (click)="addToCart(product)"><mat-icon mat-stroked-button color="primary"
                class="mat-icon-lg mat-icon material-icons">shopping_cart</mat-icon></a>
          </div>
          }
        </div>
      </mat-card>
    </div>
    }
  </div>
  <button mat-mini-fab class="swiper-button-prev swipe-arrow"><mat-icon>keyboard_arrow_left</mat-icon></button>
  <button mat-mini-fab class="swiper-button-next swipe-arrow"><mat-icon>keyboard_arrow_right</mat-icon></button>
</div>