@use '@angular/material' as mat;
@use 'tailwindcss';
@use 'swiper/css';
@use '@angular/material/prebuilt-themes/indigo-pink.css';
@use './assets/scss/theme/_variables.scss';
@use './assets/scss/theme/_style.scss';
@use './assets/scss/theme/responsive';
@use './assets/scss/color1.scss';
@use './assets/scss/theme/theme';

$font-color: #555 !default;


html {
  height: 100%;
  @include mat.theme((color: (primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    ));
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
  height: 100%;
}

/* You can add global styles to this file, and also import other style files */

.mat-drawer-content {
  overflow: unset !important;
}

.mat-drawer-container[fullscreen] {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: unset !important;
}

div#mainDIV {
  overflow: unset !important;
}